<div class="container">
  <div class="jumbotron jumbotron-fluid" style="text-align: center;">
    <input class="display-4" type="text" [(ngModel)]="search"
    autocapitalize="true" autocomplete="false" placeholder="Search for Movies">
    <button class="display-4" (click)='getService()' type="submit">Search</button>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let item of lst_movies.Search">
          <div class="col-sm" (click)="openUrl(item.imdbID)">
            <img width="200px" height="300px" [src]='item.Poster'/>
            <h4><b>{{item.Title}} {{item.Year}}</b></h4>
            <p>{{item.Type}}</p>
          </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>